@tailwind base;
@tailwind components;
@tailwind utilities;

/* PWA Install Prompt */
.pwa-install-prompt {
  position: fixed;
  bottom: 5rem;
  left: 0;
  right: 0;
  background-color: white;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
  padding: 1rem;
  z-index: 50;
}

@media (min-width: 768px) {
  .pwa-install-prompt {
    display: none;
  }
}
